/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.semaforo {
    background: black;
    height: 250px;
    width: 150px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 25%;
    top: 25px;

}

.luces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    
}

.red {
    height: 75px;
    width: 75px;
    background: red;
    border-radius: 50%;
    margin-bottom: 4px;
    opacity: 0.4;

}

.yellow {
    height: 75px;
    width: 75px;
    background: yellow;
    border-radius: 50%;
    margin-bottom: 4px;
    opacity: 0.4;
}

.green {
    height: 75px;
    width: 75px;
    background: green;
    border-radius: 50%;
    opacity: 0.4;
}

.glow {
    box-shadow: 1px 10px 79px 39px rgba(227, 255, 0, 0.75);
    opacity: 1 !important;
}